// app global css in SCSS form

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    width: calc(100% - 60px);
  }
}
